* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul, ol {
    margin-top: 0; padding-top: 0;
    margin-bottom: 0; padding-bottom: 0;
}
sup {
    font-size: .7em;
    padding: .1em .4em;
    background-color: sienna;
    color: white;
    border-radius: 9999px;
}
.tab {
    font-size: 1.2em;
    width: 150px;
    padding: .3em;
    border: 1px solid black;
    border-radius: .3em;
    cursor: pointer;
}
.tab.current {
    font-weight: bold;
    background-color: aqua;
}
#libList {
    margin-top: .7em;
}
.movie {
    cursor: pointer;
    padding: .6em .2em;
    border-bottom: 1px dotted silver;
}
.season {
    background-color: white;
    cursor: pointer;
    padding: .6em .2em; padding-left: 2em;
    border-bottom: 1px dotted silver;
}
fieldset {
    border-color: sienna;
    border-radius: .6em;
    margin-top: .3em;
}
fieldset legend {
    font-style: italic;
    padding: 0 .5em;
}
.cover {
    margin-left: 1em; margin-right: 1em;
    height: 300px;
    border: .2em solid black;
    box-shadow: .3em .3em .3em gray;
}
.seasonCover {
    margin-left: 1em; margin-right: 1em;
    margin-top: .4em;
    height: 200px;
    border: .2em solid black;
    box-shadow: .3em .3em .3em gray;
}
.current {
    background-color: lightcyan;
}
.episodesContainer {
    position: relative;
    bottom: 0;
    margin-bottom: -1em;
    margin-top: 1em;
}

.episode {
    display: inline-block;
    width: 25%;
    text-align: center;
    background-color: linen;
    padding: .3em 0;
}
.episode.currentEpisode {
    background-color: aqua;
    color: brown;
    border-radius: .4em;
}
